.main{
  background-color: rgb(54, 54, 54);
}

#root {
  color:  rgb(31, 31, 31);
  margin: 30px 0px 30px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.myCard{
  width: 350px;
  height: 470px;
  border: none;
  background-color: rgb(255, 250, 250);
  padding: 10px 5px 10px 5px;
  margin: 15px 15px 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  border-radius: 7px;
  text-align: center;
  
}

.myCard:hover{
  box-shadow: 08px 10px 16px 0 rgba(215, 43, 250, 0.918);
  margin-top: 5px;
} 

.myCard >img{
  width: 80%;
  margin: auto;
  padding: 10px 0px 10px 0px;
}

.myCard >p{
  width: 80%;
  margin: auto;
}

.topBar{
  display: flex;
}

#searchInput{
  outline: none;
  margin-right: 1rem;
  font-size: 1rem;
  width: 350px;
  height: 25px;
  font-weight: 400px;
  padding: .375rem .75rem;
  line-height: 1.1rem;
  color: #495057;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

#selectMenu{
  outline: none;
  margin-right: 1rem;
  font-size: 1rem;
  width: 350px;
  height: 38px;
  font-weight: 400px;
  padding: .375rem .75rem;
  border-radius: .25rem;
}

#searchDisplay{
  color: red;
}